.headerVendedorPV{
    background: white;
    height: 45px;
    padding: .6%;
}
.contenido{
    background: white;
    width: 100%;
    height: 86vh;
    box-shadow: 0 0 12px -3px;
    .tbodyVentas{
        border:2px solid #c2cfd7;
    }
}
